In [17]:
mylist=[1,2,3,4,5]

In [18]:
mylist.append(6)
print(mylist)
#Adds a number to the end of the list

[1, 2, 3, 4, 5, 6]

In [20]:
mylist2=[3,5,6,2,89,56,23,12,40]
print(len(mylist2))
#to find the length of the list

9

In [21]:
mylist3=['Banana','Orange','Cashiew','watermelon','pear']
mylist3.remove('Banana')
print(mylist3)
#to remove a word from the list

['Orange', 'Cashiew', 'watermelon', 'pear']

In [68]:
mylist3=['Banana','Orange','Cashiew','watermelon','pear']
print('Orange' in mylist3)
#to check if orange exist in mylist3

True

In [26]:
print(max(mylist))
#to find the maximum value in the list

6

In [28]:
print(min(mylist))
#to find the mimimum value in the list

1

In [29]:
names=['Jecinta','Mercy','Ada','Joy','John','Diana']
names.sort()
print(names)
#to sort the values in the list

['Ada', 'Diana', 'Jecinta', 'John', 'Joy', 'Mercy']

In [8]:
num1=[3,4,56,34,8,2,3,56,4,8,1,26,1,90,34]
myset=set(num1)
print(myset)
print(list(myset))
#to convert the list to set in other to remove duplicate

{1, 34, 3, 4, 2, 90, 8, 56, 26}
[1, 34, 3, 4, 2, 90, 8, 56, 26]

In [39]:
names=['Jecinta','Mercy','Ada','Joy','John','Diana']
names.reverse()
print(names)
#to reverse the values in the list

['Diana', 'John', 'Joy', 'Ada', 'Mercy', 'Jecinta']

In [46]:
names=['Jecinta','Mercy','Ada','Joy','John','Diana']
for name in names:
    print(name)
#to interate through the list and perform and perform a
#specific operation on each element

Jecinta
Mercy
Ada
Joy
John
Diana

In [53]:
nums=('love','Trust','Honest')
print(nums[1])
#to access the second element

Trust

In [54]:
t1=(1,3,4)
t2=(5,7,8)
t3=t1+t2
print(t3)
#to join or concatenate two tuples together

(1, 3, 4, 5, 7, 8)

In [3]:
num5=(1, 3, 5, 4,7,)
print(num5.index(4))
#to find the index or position of an element

3

In [4]:
#the elements of a tuple cannot be modified after creating because 
#tuple is collection of unchangeable elements

In [7]:
tpl=(1,5,6,7,8,)
print(list(tpl))
#to convert a tuple to list

[1, 5, 6, 7, 8]

In [11]:
tpl2=(2,4,3,5,4,1,6,7,5,8,6,5,2,8,34)
print(tpl2.count(4))
#to count the occurrences of number 4

2

In [12]:
tpl3=('james','Rice','Mango','Gown')
name, food, fruit, cloth = tpl3
print(name, food, fruit, cloth)
#to unpack the elements of the tuple into individual variable

james Rice Mango Gown

In [15]:
tpl4=(1,'Mercy',14.5,'height',1.65,3,'Ada')
#a tuple can contain elements of different datatype

In [17]:
print(len(tpl4))
#to find the lenght of the tuple

7

In [18]:
print('Mercy' in tpl4)
#to check if Mercy exist in the tuple

True

In [20]:
dic1={'Name':'Jecinta', 'Age':26,'City':'Abuja'}
#example of a dictionary

In [23]:
dic1['Gender']='Female'
print(dic1)
#to add a key-value to an existing dictionary

{'Name': 'Jecinta', 'Age': 26, 'City': 'Abuja', 'Gender': 'Female'}

In [26]:
print(dic1['Name'])
#to access a value associated with key Name

Jecinta

In [27]:
print('City' in dic1)
#to check if key City exist in the dictionary

True

In [28]:
print('Class' in dic1)

False

In [42]:
dic2={'Mango':3, 'Orange':5, 'Banana':10, 'Apple':4}

In [43]:
print(dic2.keys())
#to access the keys in the dictionary

dict_keys(['Mango', 'Orange', 'Banana', 'Apple'])

In [44]:
print(dic2.values())
#to access the values in the dictionary

dict_values([3, 5, 10, 4])

In [45]:
print('Mango' in dic2)
#to check if Mango exist in the dictionary

True

In [71]:
dic2={'Mango':3, 'Orange':5, 'Banana':10, 'Apple':4}
for key in dic2:    
#to interate through the dictionary

SyntaxError: incomplete input (328527582.py, line 3)

In [73]:
dic2={('Mango','John','Joy') :'Noun'}
#A DICTIONARY CAN HAVE DUPLICATE KEYS BUT MUST NOT BE A LIST KEY

In [77]:
dic2={'Mango':3, 'Orange':5, 'Banana':10, 'Apple':4}
dic3={'Gender':'Female', 'School':'Early code','Name':'Jecinta'}
dic4= dic2 + dic3
print(dic4)
#to join two dict. together

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [18]:
dic5={'Name':['Mercy', 'Diana', 'Faith', 'Fatima'], ('Yes', 'No','Other'):'Married', 'Women clothing':['Top','Dress']}

In [5]:
print(dic5['Name'][2])

Faith

In [8]:
print(dic5['Name'][5])

IndexError: list index out of range

In [15]:
print(dic5['No'][0])

KeyError: 'No'