In [4]:
 import pymysql

In [5]:
mydb = pymysql.connect(
    host = 'localhost',
    port =3306,
    user ='root',
    password = 'Jessy94.'
)
mycursor = mydb.cursor()

In [6]:
#mycursor.execute('create database dayspring_hotel')
mycursor.execute('show databases')
for x in mycursor:
    print(x)

('dayspring_hotel',)
('earlycodeacademy',)
('goldtouch_hotel',)
('information_schema',)
('j_weac_system',)
('my_work',)
('mysql',)
('performance_schema',)
('prime_academy',)
('primeacademy',)
('sakila',)
('sys',)
('world',)

In [7]:
mydb = pymysql.connect(
    host = 'localhost',
    port = 3306,
    user = 'root',
    password = 'Jessy94.',
    database = 'dayspring_hotel'
)
mycursor = mydb.cursor()

In [8]:
#mycursor.execute('create table DAYSPRING_HOTEL_RECORD(ID int primary key not null, NAME varchar(255) not null, GENDER varchar(50) not null, ADDRESS text not null, OCCUPATION varchar(255) not null, DATE varchar(200) not null, ARRIVAL_FROM text not null, DESTINATION text not null,RESERVATION varchar(10) not null, CHECKIN_DATE varchar(100) not null, CHECKOUT_DATE varchar(200) not null, NUMBEROFNIGHTS int not null, ROOM_TYPE varchar(255) not null)')
mycursor.execute('show columns from DAYSPRING_HOTEL_RECORD')
for x in mycursor:
    print(x)

('ID', 'int', 'NO', 'PRI', None, '')
('NAME', 'varchar(255)', 'NO', '', None, '')
('GENDER', 'varchar(50)', 'NO', '', None, '')
('ADDRESS', 'text', 'NO', '', None, '')
('OCCUPATION', 'varchar(255)', 'NO', '', None, '')
('DATE', 'varchar(200)', 'NO', '', None, '')
('RESERVATION', 'varchar(10)', 'NO', '', None, '')
('CHECKIN_DATE', 'varchar(100)', 'NO', '', None, '')
('CHECKOUT_DATE', 'varchar(200)', 'NO', '', None, '')
('NUMBEROFNIGHTS', 'int', 'NO', '', None, '')
('ROOM_TYPE', 'varchar(255)', 'NO', '', None, '')
('ARRIVAL_FROM', 'text', 'NO', '', None, '')
('DESTINATION', 'text', 'NO', '', None, '')
('ROOMRATE', 'int', 'NO', '', None, '')

In [9]:
query = 'alter table DAYSPRING_HOTEL_RECORD add column ROOMRATE int not null' 
mycursor.execute(query)
for x in mycursor:
    print(x)

OperationalError: (1060, "Duplicate column name 'ROOMRATE'")

In [ ]:
mycursor.execute('show columns from DAYSPRING_HOTEL_RECORD')
for x in mycursor:
    print(x)

In [10]:
def enter_record():
    id = int(input('Enter guest ID;'))
    name = input('Enter guest name:')
    gender = input('Enter guest gender (Male/Female/Other):')
    address = input('Enter guest address:')
    occupation = input('Enter guest occupation:')
    date = input('Enter todays date (DD/MM/YYYY):')
    reservation = input('Enter reservation (YES/N0):')
    checkin_date = input('Enter guest checkin date (DD/MM/YYYY):')
    checkout_date = input('Enter guest checkout date (DD/MM/YYYY):')
    numberofnights = int(input('Enter the number of nights the guest intend to spend:'))
    room_type = input('Enter preferred room type:')
    arrival_from = input('Enter guest arrival location:')
    destination = input('Enter guest destination')
    roomrate = int(input('Enter room rate:'))
    
    query = 'insert into DAYSPRING_HOTEL_RECORD(id,name,gender,address,occupation,date,reservation,checkin_date,checkout_date,numberofnights,room_type,arrival_from,destination,roomrate) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
    mycursor.execute(query,(id,name,gender,address,occupation,date,reservation,checkin_date,checkout_date,numberofnights,room_type,arrival_from,destination,roomrate))
    mydb.commit()
    print('Details Entered Successfully....')
    
def display_records():
    query = 'select * from DAYSPRING_HOTEL_RECORD'
    mycursor.execute(query)
    for x in mycursor:
        print(x)
        
def search_record():
    id = input('Enter guest ID:')
    query = 'select * from DAYSPRING_HOTEL_RECORD where id=%s'
    mycursor.execute(query,(id,))
    for x in mycursor:
        print(x)
        
def update_record():
    id = ('Enter guest ID to be updated:')
    column =('Enter column to be updated:')
    newval = ('Enter new value:')
    query = 'update DAYSPRING_HOTEL_RECORD set {column} = %s, where id=%s'
    mycursor.execute(query,(id,newval))
    mydb.commit()
    print('Record updated successfully....')
    
def archive_record():
    id =input('Enter guest ID to be deleted:')
    query ='delete from DAYSPRING_HOTEL_RECORD where id=%s'
    mycursor.execute(query,(id,))
    print('Record deleted successfully....')
    
    
def calculate_bill():
    id = input('Enter guest ID:')
    query='select id,room_type,roomrate,numberofnights, (numberofnights*roomrate) as BILL from DAYSPRING_HOTEL_RECORD where id=%s'
    mycursor.execute(query,(id,))
    for x in mycursor:
        print(x)
    
    
def main():
    print('WELCOME TO DAYSPRING HOTEL\n Your Comfort Our Priority')
    print('''ROOMTYPES AND RATES:\n Superior - N15000\n Executive - N20000\n Diplomatic - N25000\n Royal - N30000''' )
    print('operation list [enter, display, search, update,acrhive, calculatebill]')
    operation = True
    while operation:
        option = input('select operation:')
        if option =='enter'.lower():
            enter_record()
        elif option == 'Display'.lower():
            display_records()
        elif option == 'Search'.lower():
            search_record()
        elif option == 'Update'.lower():
            update_record()
        elif option == 'Archive'.lower():
            archive_record() 
        elif option == 'calculatebill'.lower():
            calculate_bill()
        elif option == 'logout'.lower():
            operation =False
            print('OPERATION TERMINATED.......')
            break

In [ ]:
main()

WELCOME TO DAYSPRING HOTEL
 Your Comfort Our Priority
ROOMTYPES AND RATES:
 Superior - N15000
 Executive - N20000
 Diplomatic - N25000
 Royal - N30000
operation list [enter, display, search, update,acrhive, calculatebill]
select operation:calculatebill
Enter guest ID:002
(2, 'superior', 15000, 3, 45000)

In [ ]:
#vs code download on chrome
# on the windows
##pip install numpy, pandas, matplolid, seaborn,plotly, scikit_learn, nitk, wordcloud, wheel
# missingno, xlsxwritter, nbformat >=4.2.0, scipy, ipykernel